# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Editor & IDE Directories
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary / Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node modules (if any tools are added later)
node_modules/
dist/
build/
